// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@font-face {
    font-family: "Aaargh";
    font-style: normal;
    src: local("aaargh"),
    url("#{$font-path}/aaargh.woff") format("woff"),
    url("#{$font-path}/aaargh.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: local("rubik"),
    url("#{$font-path}/rubik.ttf") format("truetype");
}

$kryptClr: #FDFEFF;
$kryptPrmry: #52A2FF;
$kryptDngr: #E3000E;
$kryptCalm: #1ABC9C;
$kryptTxtClr: #60646D;

$colors: ( 
    primary: $kryptPrmry,
    danger: $kryptDngr,
    cardclr: $kryptClr
);

$toolbar-background: $kryptClr;
$background-color: $kryptClr;
$text-color: $kryptClr;

$font-family-md-base: "Rubik";
$font-family-ios-base: "Rubik";
$font-family-wp-base: "Rubik";

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0px !important;
}

.header-md::after,
.tabs-md[tabsPlacement="top"]>.tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    height: 0px !important;
}

.toolbar-title {
    font-family: 'Aaargh', cursive !important;
}

.item-md {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.item-ios {
    padding-left: 5px !important;
    padding-right: 5px !important;
}