<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="!valuePresent && !changePwd">
            Save Credentials
        </ion-title>
        <ion-title *ngIf="valuePresent && !changePwd">
            Enter Credentials
        </ion-title>
        <ion-title *ngIf="changePwd">
            Change Credentials
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h4 *ngIf="valuePresent && changePwd" class="txt-clr">Enter your old credentials</h4>
    <h4 *ngIf="!valuePresent && changePwd" class="txt-clr">Enter your new credentials</h4>
    <ion-item color="cardclr">
        <ion-label floating>Pass Phrase</ion-label>
        <ion-input type="password" [(ngModel)]="keyPhrase" *ngIf="!showValue" maxlength="10"></ion-input>
        <ion-input type="text" [(ngModel)]="keyPhrase" *ngIf="showValue" maxlength="10"></ion-input>
    </ion-item>
    <ion-item color="cardclr" *ngIf="!valuePresent">
        <ion-label floating>Re-enter Pass Phrase</ion-label>
        <ion-input type="password" [(ngModel)]="rekeyPhrase" *ngIf="!showValue" maxlength="10"></ion-input>
        <ion-input type="text" [(ngModel)]="rekeyPhrase" *ngIf="showValue" maxlength="10"></ion-input>
    </ion-item>
    <ion-item color="cardclr">
        <ion-label floating>Pass Key</ion-label>
        <ion-input type="password" [(ngModel)]="keyPass" *ngIf="!showValue" maxlength="10"></ion-input>
        <ion-input type="text" [(ngModel)]="keyPass" *ngIf="showValue" maxlength="10"></ion-input>
    </ion-item>
    <ion-item color="cardclr" *ngIf="!valuePresent">
        <ion-label floating>Re-enter Pass Key</ion-label>
        <ion-input type="password" [(ngModel)]="rekeyPass" *ngIf="!showValue" maxlength="10"></ion-input>
        <ion-input type="text" [(ngModel)]="rekeyPass" *ngIf="showValue" maxlength="10"></ion-input>
    </ion-item>
    <br/>
    <ion-item color="cardclr" no-lines>
        <ion-label>Show password</ion-label>
        <ion-checkbox (click)="showContent()" [checked]="showValue"></ion-checkbox>
        <ion-badge item-end *ngIf="attempts > 0" color="danger">{{attempts}}</ion-badge>
    </ion-item>
    <br/>
    <button ion-button block (click)="saveCredentials()" *ngIf="!valuePresent" round [disabled]="checkContent()">Save</button>
    <button ion-button block (click)="saveCredentials()" *ngIf="valuePresent && !changePwd" round [disabled]="validateForm()">Login</button>
    <button ion-button block (click)="saveCredentials()" *ngIf="valuePresent && changePwd" round [disabled]="validateForm()">Change</button>
</ion-content>