.ios,
.md {
    files-page {
        .vl-info {
            width: 95%;
            margin-left: 10px;
            font-size: 2.2em;
            font-weight: bolder;
            text-align: center;
            border-radius: 6px;
            background-color: $kryptPrmry;
            color: #FCFCFC;
            height: 60px;
            display: inline-block;
        }
        .bgico {
            font-size: 1.8em;
            color: #FFF;
        }
        .item-kry {
            padding-left: 32px !important;
            background-color: $kryptClr !important;
            color: $kryptTxtClr;
        }
    }
}