<ion-header>
    <ion-toolbar>
        <ion-title>Folders</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentActionSheet()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let category of categories">
        <div *ngIf="categoryPresent(category.key)">
            <br/>
            <ion-list-header class="hdr-cntnt">
                {{ category.categoryVal }}
            </ion-list-header>
            <ion-card color="cardclr" *ngFor="let item of filterByCategory(category.key)">
                    <ion-item class="item-kry">
                        <h2 ion-content (click)="goToFiles(item.name)" class="txt-clr">{{ item.name }}</h2>
                        <button ion-button item-end clear (click)="editFolder(item.name)">
                            <ion-icon ios="md-create" md="md-create" class="bgico"></ion-icon>
                        </button>
                    </ion-item>
                    <ion-card-content (click)="goToFiles(item.name)" class="txt-clr">
                        {{item.files != null ? item.files.length : 0}} files present
                    </ion-card-content>
            </ion-card>
        </div>
    </ion-list>
</ion-content>