.ios,
.md {
    folders-page {
        .bgico {
            font-size: 2.1em;
            color: $kryptTxtClr !important;
        }
        .item-kry {
            padding: 13px 21px !important;
            background-color: $kryptClr !important;
            color: $kryptTxtClr;
        }
        .txt-clr {
            color: $kryptTxtClr !important;
        }
        .hdr-cntnt {
            background-color: #F0F1F5;
            border: 0px !important;
        }
    }
}